/* nabbar logo font  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Code:wght@300..700&display=swap");
/* poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

html {
  font-family: "Poppins", sans-serif;
}
/* :root { */
/* Core Colors */
/* --color-primary: #00B8D9;         
  --color-secondary: #A782EC;       
  --color-accent: #00FFC6;          
  --color-highlight: #C084FC;       
  --color-button-hover: #22D3EE;     */

/* Background Colors */
/* --color-bg-light: #FFFFFF;       
  --color-bg-default: #F3F4F6;     
  --color-bg-dark: #0F172A;         */

/* Text Colors */
/* --color-text-primary: #1F2937;   
  --color-text-secondary: #9CA3AF;  */
/* } */

.logoName {
  font-family: "Fira Code", monospace;
}
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

.active {
  color: #2511da;
  border-bottom: 2px solid rgb(223, 133, 16);
}

/* .background{
    background-color: #283593;
} */
